<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
  <div id="container">
      <h1>[ 메인 페이지 ]</h1>
      <div sec:authorize="isAnonymous()">
          <input type="button" onclick="location.href='/member/join'" value="회원가입">
          <input type="button" onclick="location.href='/member/login'" value="로그인">
          <input type="button" onclick="location.href='/oauth2/authorization/google'" value="구글 로그인">
          <input type="button" onclick="location.href='/oauth2/authorization/kakao'" value="카카오 로그인">
      </div>
      <div sec:authorize="isAuthenticated()">
          <span sec:authentication="principal.member.name"></span> 님 환영합니다. <br>
          <input type="button" onclick="location.href='/board/list'" value="게시판">
          <input type="button" onclick="location.href='/member/logout'" value="로그아웃">
      </div>
      <p>
      <div sec:authorize="isAuthenticated()">
      	  이 텍스트는 인증을 완료한 사용자만 볼 수 있습니다. <br>
      	  <ul>
      	      <li>유저 아이디: <span sec:authentication="name"></span></li>
      	  	  <li>유저 정보: <span sec:authentication="principal"></span></li>
      	  	  <li>유저 권한: <span sec:authentication="principal.authorities"></span></li>
      	  </ul>
      </div>
      <div sec:authorize="hasRole('ROLE_ADMIN')">
          이 텍스트는 ADMIN 권한을 가진 사용자만 볼 수 있습니다.
      </div>
      <div sec:authorize="hasRole('ROLE_USER')">
          이 텍스트는 USER 권한을 가진 사용자만 볼 수 있습니다.
      </div>
  </div>
</body>
</html>