<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
    <!-- 부트스트랩 3 CSS 링크 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{/templates/navi :: navi}"></div>

<div class="container">
    <h2>환영합니다!</h2>
    <p>이 웹 사이트는 부트스트랩 3를 사용하여 만들어졌습니다.</p>
</div>

<!-- 부트스트랩 3 JavaScript 및 jQuery 링크 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
