<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.order.repository.ProductRepository">
    <!--  모든 제품 리스트  -->
	<select id="findProducts" resultType="product">
		select * from product
	</select>
    <!--  제품 상세정보  -->
	<select id="findProductById" resultType="product">
		select * from product where product_id = #{product_id}
	</select>
    <!--  제품 재고 수정  -->
    <update id="updateProduct">
    	update product
    	<set>
    		<if test="stock != null">stock = #{stock}</if>
    	</set>
    	where product_id = #{product_id}
    </update>
    
</mapper>