#container {
    width: 680px;
    margin: auto;
}

#navi ul li {

}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

.center {
    text-align: center;
}

.error {
    color: red;
}