<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <!-- 부트스트랩 3 CSS 링크 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{/templates/navi :: navi}"></div>
<div class="container">
    <h2>회원가입</h2>
    <form action="/users/register" method="post" th:object="${registerForm}">
        <div class="form-group">
            <label for="username">아이디:</label>
            <input type="text" class="form-control" th:field="*{username}" placeholder="아이디를 입력하세요" required>
        </div>
        <div class="form-group">
            <label for="password">비밀번호:</label>
            <input type="password" class="form-control" th:field="*{password}" placeholder="비밀번호를 입력하세요" required>
        </div>
        <div class="form-group">
            <label for="name">이름:</label>
            <input type="text" class="form-control" th:field="*{name}" placeholder="이름을 입력하세요" required>
        </div>
        <div class="form-group">
            <label for="birthdate">생년월일:</label>
            <input type="date" class="form-control" th:field="*{birthdate}" required>
        </div>
        <div class="form-group">
            <label for="gender">성별:</label>
            <select class="form-control" th:field="*{gender}" required>
                <th:block th:each="gender : ${T(com.example.shopping.model.users.GenderType).values()}">
                    <option th:text="${gender.getDescription()}" th:value="${gender}">
                </th:block>

            </select>
        </div>
        <div class="form-group">
            <label for="email">이메일:</label>
            <input type="email" class="form-control" th:field="*{email}" placeholder="이메일을 입력하세요" required>
        </div>
        <button type="submit" class="btn btn-primary">가입하기</button>
    </form>
</div>

<!-- 부트스트랩 3 JavaScript 및 jQuery 링크 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
