<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link href="/css/default.css" rel="stylesheet">
</head>
<body>
<div id="container">
    <h1>회원가입</h1>
    <form action="/member/join" method="post" th:object="${join}">
        <table>
            <tr>
                <th>아이디</th>
                <td>
                    <input type="text" th:field="*{member_id}">
                    <div class="error" th:errors="*{member_id}"></div>
                    <th:block th:if="${#fields.hasGlobalErrors()}">
	                    <div class="error" th:each="err : ${#fields.globalErrors}" th:text="${err}"></div>
					</th:block>
                </td>
            </tr>
            <tr>
                <th>패스워드</th>
                <td>
                    <input type="password" th:field="*{password}">
                    <div class="error" th:errors="*{password}"></div>
                </td>
            </tr>
            <tr>
                <th>이름</th>
                <td>
                    <input type="text" th:field="*{name}">
                    <div class="error" th:errors="*{name}"></div>
                </td>
            </tr>
        </table>
        <p>
        <div class="center">
            <input onclick="location.href='/'" type="button" value="메인으로">
            <input type="submit" value="회원가입">
            <input type="reset" value="다시작성">
        </div>
    </form>
</div>
</body>
</html>