<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>제품 목록</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
<div id="container">
    <h1>제품 목록</h1>
    <p>
    <table>
        <tr>
            <th>No</th>
            <th>제품명</th>
            <th>재고</th>
            <th>가격</th>
        </tr>
        <tr th:if="${products}" th:each="product, productStat : ${products}">
			<td th:text="${productStat.count}" class="center"></td>
			<td class="center"><a th:text="${product.product_name}" th:href="@{/product/productInfo(product_id=${product.product_id})}"></a></td>
			<td class="center" th:text="${product.stock}"></td>
			<td class="center" th:text="${product.price}"></td>
		</tr>
        <tr th:if="${#lists.isEmpty(products)}">
            <td class="center" colspan="4">등록된 제품이 없습니다</td>
        </tr>
    </table>
    <p>
    <div class="center">
        <input type="button" onclick="location.href='/'" value="메인으로">
        <input type="button" onclick="location.href='/order/myOrders'" value="주문내역">
    </div>
</div>
</body>
</html>