<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>내 주문내역</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
<div id="container">
  <h1>내 주문내역</h1>
  <table>
    <tr>
      <th>No</th>
      <th>제품명</th>
      <th>수량</th>
      <th>가격</th>
      <th>주문일</th>
    </tr>
    <tr th:if="${orders}" th:each="order, orderStat : ${orders}" class="center">
		<td th:text="${orderStat.count}"></td>
		<td><a th:text="${order.product_name}" th:href="@{/order/orderInfo(order_id=${order.order_id})}"></a></td>
		<td th:text="${order.count}"></td>
		<td th:text="${order.order_price}"></td>
		<td th:text="${order.order_date}"></td>
	</tr>
    <tr th:if="${#lists.isEmpty(orders)}">
      <td class="center" colspan="5">주문 내역이 없습니다.</td>
    </tr>
  </table>
  <p>
  <div class="center">
    <input type="button" onclick="location.href='/'" value="메인으로">
    <input type="button" onclick="location.href='/product/products'" value="상품목록">
  </div>
</div>
</body>
</html>